@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  --color-black: #111315;
  --color-dark: #292C2D;
  --color-white: #FFFFFF;
  --color-gray: #676767;
  --color-white-light: #ffffff;
  --font-main: -apple-system, BlinkMacSystemFont, 'Inter', Arial, Helvetica, sans-serif;
  --color-palette-1: #202020;
  --color-palette-2: #404040;
  --color-palette-3: #606060;
  --color-palette-4: #808080;
  --color-palette-5: #A0A0A0;
  --color-palette-6: #C0C0C0;
  --ios-shadow: 0 4px 16px rgba(60,60,67,0.08);
  --background: var(--color-black);
  --foreground: var(--color-white);
  --color-card-border: #292C2D;
  --color-chart-grid: #000000; /* grid gelap untuk dark mode */
}



/* Light mode overrides */
[data-theme='light'] {
  --color-black: #f7f7f7;
  --color-dark: #e5e7eb;
  --color-white: #18181b;
  --color-white-light: #ffffff;
  --color-gray: #444;
  --background: #e7e7e7;
  --foreground: #18181b;
  --color-palette-1: #C0C0C0;
  --color-palette-2: #A0A0A0;
  --color-palette-3: #808080;
  --color-palette-4: #606060;
  --color-palette-5: #404040;
  --color-palette-6: #202020;
  --color-card-border: #9e9e9e;
  --color-chart-grid: #000000; /* grid terang untuk light mode */
}


* {
  caret-color: transparent;
  box-sizing: border-box;
}
input, textarea, select {
  caret-color: auto;
}

body, select {
  background: var(--background, var(--color-white));
  color: var(--foreground, var(--color-black));
  font-family: var(--font-main);
  letter-spacing: 0.01em;
}




